.vscode

.DS_Store

.py_test_cache

Backend/src/main/resources/application-secrets.yml

Backend/.DS_Store

Backend/build/*

Backend/.gradle/*

Backend/bin

mqttAgent/.DS_Store

mqttAgent/build/*

mqttAgent/.gradle/*

mqttAgent/bin

routineAgent/.DS_Store

routineAgent/build/*

routineAgent/.gradle/*

routineAgent/bin

Frontend/hars/node_modules
Frontend/hars//.pnp
Frontend/hars/.pnp.js

# testing
Frontend/hars//coverage

# production
Frontend/hars//build

# misc
Frontend/hars/.DS_Store
Frontend/hars/.env.local
Frontend/hars/.env.development.local
Frontend/hars/.env.test.local
Frontend/hars/.env.production.local

Frontend/hars/npm-debug.log*
Frontend/hars/yarn-debug.log*
Frontend/hars/yarn-error.log*



