.vscode

.DS_Store

Backend/src/main/resources/application-secrets.yml

Backend/.DS_Store

Backend/build/*

Backend/.gradle/*

Backend/bin

Frontend/py_test/.py_test_cache

Frontend/py_test/tests/__pycache__

