.vscode

.DS_Store

.py_test_cache

Backend/src/main/resources/application-secrets.yml

Backend/.DS_Store

Backend/build/*

Backend/.gradle/*

Backend/bin

mqttAgent/.DS_Store

mqttAgent/build/*

mqttAgent/.gradle/*

mqttAgent/bin

Frontend/py_test/.py_test_cache

Frontend/py_test/tests/__pycache__

